@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  font-family: "Roboto Black";
}
p {
  color: rgb(215, 209, 209);
}
.container {
  width: 100%;
  overflow: scroll;
  padding: 6em 0;
  background: linear-gradient(to right, #23424a, #136c72);
}

.hero {
  width: 80%;

  max-width: 900px;
  margin: 0 auto;
  font-family: Roboto;
  color: white;
}

.hero-text {
  width: 50%;
}

button {
  border: none;
  text-transform: uppercase;
  font-weight: 900;

  background-color: rgb(1, 52, 104);
  border-radius: 2em;
  padding: 0.75em 2em;
}
