@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
h1 {
  font-family: "Roboto Black";
}
p {
  color: rgb(215, 209, 209);
}
.container {
  width: 100%;

  padding: 6em 0;
  background: linear-gradient(to right, #136c72, #23424a);
}

.hero {
  width: 80%;

  max-width: 900px;
  margin: 0 auto;
  font-family: Roboto;
  color: white;
}

.hero-text {
  width: 50%;
}

button {
  border: none;
  text-transform: uppercase;
  font-weight: 600;

  background-color: #38cfd9;
  border-radius: 2em;
  padding: 0.75em 2em;
}

.row {
  margin: 0 auto;
  padding: 3em 1em;

  display: flex;
  max-width: 1200px;
  justify-content: center;
  gap: 2em;
}
.row-white h1 {
  color: #87629a;
}
.row-white p {
  color: black;
}

.col {
  width: 100%;
}
