@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --cream: #f3eed9;
  --brown: #824936;
  --black: #222c2a;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 0;
  font-size: 1.1rem;
  text-align: center;
  text-transform: uppercase;
}
h2 {
  text-align: center;
  color: var(--brown);
}
h1 {
  margin: 0;
  line-height: 3.2rem;
  color: var(--brown);
  font-size: 3.8rem;
}

.header {
  background-color: var(--cream);

  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  padding: 3em 2em;
  width: 80%;
  margin: 0 auto;
  max-width: 1180px;
}

.header-text {
  margin: 0 auto;
  text-align: center;
  width: 70%;
}

.wrapper {
  display: flex;

  gap: 1em;
}
